{% extends 'admin/base.html' %}
{% block body %}
    <div class="container content-area">
        <div class="row">
            <div class="col-12">
                <div class="panel">
                    <div class="m-b-15">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 mb-2">
                                <h6>Uploads</h6>
                                 <input type="hidden" id="bid"  value="{{ bid }}">
                                 <input type="hidden" id="mid" value="{{ mid }}">
                                <hr/>
                            </div>

                            <div class=" col-md-6 col-lg-6 mb-2">
                                <div class="row">
                                    <div class=" col-md-8 col-lg-8 mb-2 ">
                                        <input type="search" class="fa form-control" placeholder="&#xf002; Search tag"
                                               id="srch">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tb">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script id="table-template" type="text/x-handlebars-template">
{% raw %}
<p>Records found {{ total }}</p>
  {{#if_cond tabledata '!=' '0'}}
    <div class="block-grid-xs-1 block-grid-sm-3 block-grid-md-3">
        {{#each tabledata}}
             <div class="col-12">
               <p> <img src="/static/uploads/{{picture}}" height="400" width="200" class="img-thumbnail"></p>
                <p><a  class="btn btn-primary btn-delete btn-sm mb-2" href="/admin/{{picture}}">Download</a></p>
                <p>Tag: {{tag}} </p>
            </div>
        {{/each }}

  </div>
  {{/if_cond}}
<ul id="pagination-demo" class="pagination-sm"></ul>
{% endraw %}
</script>
    <script>
        $(document).ready(function () {

            var pag = "";
            var searchdata = "";
            var bid=localStorage.getItem("bid");
            var mid=localStorage.getItem("mid");
            masterloadtable("", "",bid,mid)

            $('#srch').keyup(function (e) {
                var keycode = e.charCode ? e.charCode : e.keyCode;
                searchdata = $('#srch').val()
                if (keycode == 13 && searchdata.length > 1) {
                    masterloadtable(pag, searchdata,bid,mid)
                } else {
                    masterloadtable(pag, searchdata,bid,mid)
                }
            })
        });

        function masterloadtable(pg, srch,bid,mid) {
            $.ajax({
                type: "POST",
                url: "/admin/Viewphoto",
                data: {pg: pg, srch: srch,bid:bid, mid:mid},
                dataType: 'json',
                statusCode: {
                    401: function () {
                        window.location.replace("/admin/")
                    }
                },
                headers: {
                    'X-CSRF-TOKEN': getCookie('csrf_access_token')
                },
                success: function (data) {
                    console.log(data)
                    var datas = {
                        "total": data.totalrecords,
                        "page": data.currentpage,
                        "tabledata": data.data,
                    }
                    templateScript = Handlebars.compile($('#table-template').html());
                    $("#tb").html(templateScript(datas));
                    //load my pages'
                    if (data.totalpages != 'null') {
                        $('#pagination-demo').twbsPagination({
                            totalPages: data.totalpages,
                            visiblePages: 3,
                            startPage: data.currentpage,
                            initiateStartPageClick: false,
                            onPageClick: function (event, page) {
                                masterloadtable(page, srch,bid,mid)
                            }
                        });
                    }
                }
            });
        }

    </script>
{% endblock %}